<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<div layout:fragment="content">
    <!--Content of the page-->
    <div class="app-main__inner">
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div style="margin-left:20px;margin-right:20px;">
                    <div class="table-responsive">
                        <h3 style="margin-top:15px;font-weight:bold;margin-left:15px">User Details</h3>

                        <p>Type something in the input field to search the table for first names, last names:</p>
                        <input class="form-control" id="myInput" type="text" placeholder="Search..">

                        <div class="alert alert-primary" role="alert" th:text="${update_success}" th:if="${update_success}"></div>
                        <div class="alert alert-danger" role="alert" th:text="${update_error}" th:if="${update_error}"></div>

                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <table  id="myTable" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Mobilephone 1</th>
                                            <th scope="col">Mobilephone 2</th>
                                            <th scope="col">Gender</th>
                                            <th scope="col">Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${users}">
                                            <td th:text="${user.id}">Id</td>
                                            <td th:text="${user.title}">Title</td>
                                            <td th:text="${user.firstName}">First Name</td>
                                            <td th:text="${user.lastName}">last Name</td>
                                           <td th:text="${user.mobilephone1}">Mobilephone1</td>
                                            <td th:text="${user.mobilephone2}">Mobilephone2</td>
                                            <td th:text="${user.gender}">Gender</td>
                                            <td th:text="${user.createdDate}">Date</td>
                                            <td><a th:href="@{'/member/edit/' + ${user.id}}">Edit</a></td>
                                            <td><a th:href="@{'/member/delete/' + ${user.id}}">Delete</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div style="botton-margin:10px;">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <button type="reset" class="btn btn-primary" id="resetButton" name="reset" th:value="Reset">Refresh</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>